.portfolioProject {
    position: relative;
}

.projectImage {
	width: 300px;
	padding: 0;
}

.projectLink {
    height: 100%;
    max-width: inherit;
}

.projectNamePanel {
    width: 100%;
    position: absolute;
    bottom: 5px;
    left: 0;
	text-align: center;
	font-size: 1.25vw;
}

.projectNamePanel .projectHover {
	display: none;
}

.projectNamePanel:hover .projectName {
	display: none;
}

.projectNamePanel:hover .projectHover{
	display: block;
	margin-bottom: 1rem;
}

#github-logo {
	height: 50px;
	margin: 5px;
}

.btn {
	height: fit-content;
}